doctype html
html
    head
        title Bienvenido
        link(rel="stylesheet", href="/styles.css")
    body
        .container
            h1 Bienvenido Usuario #{username}
            a(href="/") Regresar a Login
