doctype html
html
    head
        title #{title}
        link(rel="stylesheet", href="/styles.css")
    body
        .container
            block content
            if message
                p.error-message #{message}
