extends layout

block content
    h1 Iniciar Sesión
    form(action="/user/login", method="POST")
        table 
            tr 
                td 
                    label(for="username") Usuario:
                td 
                    input(type="text", name="username", required)
            tr 
                td 
                    label(for="password") Contraseña:
                td 
                    input(type="password", name="password", required)
        table
            tr
                td 
                    button(type="submit") Iniciar Sesión
                td 
                    a(href="/user/register", stype="button") Regístrate

